.grid {
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-template-rows: 33.33% 33.33% 33.33%;
	width: '80vw';
	height: '50vw';
	outline: '2px solid black';
}
.cell {
	cursor: 'pointer';
	border: '2px solid black';
	background: 'white';
	transition: 'all 100ms linear';
	hover: {
		transform: 'scale(1.15)';
	}
}
